.row {
    width: 100%;
    text-align: left;
}

.col-1 {
    width: 0%
}.col-2 {
    width: 8.33%;
}.col-3 {
    width: 16.66%;
}.col-4 {
    width: 24.99%;
}.col-5 {
    width: 33.33%;
}.col-6 {
    width: 41.66%;
}.col-7 {
    width: 46.99%;
}.col-8 {
    width: 58.32%;
}.col-9 {
    width: 66.65%;
}.col-10 {
    width: 72.98%;
}.col-11 {
    width: 91.64%;
}.col-12 {
    width: 100%;
}