@font-face{
    font-family:"Mahamaya";
    src:url("../../fonts/Mahamaya.otf") format("opentype");
}
@font-face{
    font-family:"Posteratus-Rex-FFP";
    src:url("../../fonts/Posteratus-Rex-FFP.otf") format("opentype");
}
body{
    background: -moz-linear-gradient(bottom, #C0E8D6, #33F5B1 );
    background-image: url("../../imagens/9.jpg");
    margin: 0;
}
h1{
    text-align: center;
    color: #FF426D;
    font-size: 600%;
    font-family: Mahamaya;
    text-decoration: underline;    
    background-color:rgba(240, 215, 254, 0.7);
    width: 100%;
    margin: auto;
}
nav{
    display: -webkit-flex;
    display: flex;
    
    -webkit-justify-content: center;
    justify-content: center;
    
    font-size: 500%;
    text-align: center;
}
nav ul li{
    list-style: none;
    margin: 10px;
    padding:110px;
    padding-bottom: 70px;
    padding-top: 70px;
    background: #3CB6A9;
    border: solid black 5px;
    font-family: Posteratus-Rex-FFP;
}
nav ul li:hover{
  background-color: #C3FFE1;
}